!!!
%html{lang: 'en'}
  %head
    %title ReciTree
    %meta{charset:"utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    = yield(:head)
  %body{class: "controller-#{controller_name} action-#{action_name}"}
    %header
      = render 'layouts/navigation'
    .container.content-wrapper
      = render 'layouts/alerts'
      %main{:role => "main"}
        = yield
        %br
        %br
        %br
        %br

    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload', 'data-turbolinks-eval': 'reload'